:root {
    --first-color: #f5f5dc;
    --second-color: black;
    --highlight-color: gold;
  }

  body {
    background-color: lightblue;
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: beige;
  }
  
  img {
      width:200px;
      height:200px;
      flex-wrap:wrap;
      position:relative; 

  }

  h1{
    color:blue;
  }

  h2{
    color:purple;
  }
h3 {
    color:purple;
  }


  .content {
    min-height: 100%;
  }

  a {
    color:hotpink;
  }

  p {
    color:purple;
  }

  text {
    color:white;
  }

  .footer,
  .push {
    font-size:18px;
    height:200px;
    background-color:black;
    margin-top: -50px;
  }

  nav {
    background-color: lightblue;
    padding: 10px;
}

.navbar-brand {
  width:25px;
  height:15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: black;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}