:root {
    --first-color: #f5f5dc;
    --second-color: black;
    --highlight-color: gold;
  }

  body {
      background-color:var(--first-color);
      color:var(--second-color);   
  }

  img {
      width:200px;
      height:200px;
      flex-wrap:wrap;
      position:relative; 

  }

h3 {
    width:600px;
    height:600px;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
  }
  
  .footer,
  .push {
    height:70px;
    color:blue;
    margin-top: -50px;
  }
